body{
    background-color: rgb(21,21,21);
}
.lContainer{
    margin-top: 100px;
    animation: animLogin 1s ease;
}
@keyframes animLogin {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.lFormulario{
    position: absolute;
    top: 380px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(34, 34, 34);
    height: 470px;
    width: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    padding: 10px;
}
.lHeader{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.lHeader a{
    transition: 0.3s;
}
.lHeader a:hover{
    opacity: 0.8;
}
.campo{
    display: flex;
    flex-direction: column;

}
.lFormulario button{
    background-color: #0053af;
    color: white;
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 7px;
    font-size: 20px;
    margin-top: 20px;
    transition: 0.3s;
}
button:hover{
    opacity: 0.8;
}
.lFormulario .footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}
.campo label{
    color: white;
    font-size: 18px;
    margin: 7px 0;
}
.footer a{
    text-decoration: none;
    color: white;
    cursor: pointer;
    margin: 27px;
    transition: 0.3s;
}
.footer a:hover{
    color: #0053af;
}