*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.main{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}

.header {
    background-color: rgb(34, 34, 34);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid #757575;
   
}
.logo img{
    width: 70px;
}
.logo h1{
    padding-left: 10px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.tBin{
    color: white;
}
.tStation{
    color: #757575;
}
.logo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.pesquisa{
    background-color: rgb(21, 21, 21);
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 5px;
    max-height: 45px;
    border: 1px solid #757575;
    width: 62%;
}
.pesquisa input{
    height: 40px;
    width: 99%;
    background-color: rgb(21, 21, 21);
    color: white;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    margin-left: 6px;  
    font-size: 18px; 
}

/* .pesquisa input :focus{
    border-color: 10px solid blue;
} */
.ulHeader a{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.header ul{
    display: flex;
    width: 200px;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

li{
    color: white;
    font-weight: bold;
}

.liCadastro{
    padding: 10px;  
    background-color: #0053af;
    border-radius: 5px;
    min-width: 140px;
    font-size: 17px;  
    margin-left: 5px; 
     cursor: pointer;
}
.liCadastro a{
    cursor: pointer;
}
li a{
    cursor: pointer;
    text-decoration: none;
    color: white;
}
ul a{
    text-decoration: none;

}
.subHeader{
    background-color: rgb(21,21,21);
    border-bottom: 1px solid #757575;
    height: 37px;
   /*  display: flex;
    justify-content: space-around;
    align-items: center; */
    
}
.container li{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgIconSub{
    margin-right: 7px;
}
.container ul {
    display: flex;
    padding-top: 6px;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.estrutura{
    /* padding-top: 15vh; */
    /* padding: 15vh 0 0 0; */
    margin-top: 100px;
}
.imgArtes{
    height: 135px;
}

/* .estrutura + .main{
    padding: 15vh 0 0 0;
} */
.destaques{
    background-color: rgb(34, 34, 34);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 280px;
    
}
.imgDestaque{
    border-radius: 10px;
}
.artes ul{
    display: flex;
    padding-top: 6px;
    justify-content: space-between;
    width: 300px;
    margin: 0 25px;
    list-style: none;
    /* align-items: center; */
    margin-bottom: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.artes{
    background-color: rgb(34, 34, 34);
    
}
.divulgacao{
    /* background-color: rgb(34, 34, 34); */
    display: flex;
    justify-content: space-evenly;
    height: 600px;
    align-items: center;
    background-image: url(img/ef.jpg);
}
.divul img{
    border-radius: 10px;
}

[data-anime]{
    opacity: 0;
    transition: .3s;
}
[data-anime="left"]{
    transform: translate3d(-50px,0,0);
}
[data-anime="right"]{
    transform: translate3d(20px,0,0);
}
[data-anime="bottom"]{
    transform: translate3d(0,10px,0);
}
[data-anime].show{
    opacity: 1;
    transform: translate3d(0,0,0);
}
.texto{
    width: 400px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    text-align: justify;
    align-self: flex-start;
    margin-top: 3%;
    color: white;
    background-color: rgba(34,34,34,0.5);
    border-radius: 10px;
    padding: 0 10px;
    
}
.texto h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3rem;
}
.texto p{
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.slide{
    display: flex;
    justify-content: space-around;
    background-color: rgb(34, 34, 34);
    height: 350px;
    align-items: center;
    
}
.carrossel img{
    border-radius: 5px;
}
.banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(img/back1440.jpg);
    height: 340px;
}
.mensagem{
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.campo{
    position: relative;
    display: flex;
    justify-content: center;
}

.campo input{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    height: 70px;
    color: white;
    width: 300px;
    background-color: rgb(21, 21, 21);
    font-size: 20px;
    padding: 0 8px;
    border-radius: 5px 0 0 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.inEmail{
    z-index: 2;
}
.campo button{
    z-index: 2;
}
.videoC{
    margin-right: 20px;
}
.campo button{
    background-color: #0053af;
    height: 70px;
    width: 120px;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.resposta{
    position: absolute;
    display: flex;
    background-color: rgb(34, 34, 34);
    height: 60px;
    left: 0;
    width: 100%;
    top: 0px;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    border-radius: 0 0px 7px 7px;

    transition: 1s;
    color: white;
}
.footer{
    background-color: rgb(34, 34, 34);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.footer span{
    width: 80%;
    border-bottom: #0053af solid 7px;
    margin: 30px 0;
}

.foot .imgIcon{
    width: 75px;
    height:70px;
    transition: 0.5s;
}
.foot .imgW{
    width: 45px;
    height:40px;
   transition: 0.5s;
}
.foot .imgL{
    width: 145px;
    /* height:90px; */
    
}
.foot h3{
    font-size: 30px;
}
.foot{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.contato{
    display: grid;
    align-items: center;
    grid-template-areas: 
    'contato contato'
    'whats numero'

}
.pContato{
    grid-area: contato;
    margin-left: 65px;
    color: white;
}
.imgW{
    grid-area: whats;
}
.pNumero{
    grid-area: numero;
    color: white;
}
.roda{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.artes{
    position: relative;
}
.artes ul {
    position: absolute;
    top: 0px;
    left: 7px;
}
.desenhos{
    padding-top: 45px;
}

.barraPesquisa{
    position: absolute;
    top: 52px;
    left: 261px;
    width: 837px;
    height: 90px;
    background-color: #121212;
    display: none;
    border:1px solid #757575;
}
.barraPesquisa ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    width: 100%;
}
.barraPesquisa ul li{
    
    border-bottom: 1px solid #757575;
    background-color: #121212;
    width: 100%;
    padding: 5px 0;
    
}
.barraPesquisa ul a{
    color: #757575;
    margin: 0 5px;
}
.bArtes{
    background-color: transparent;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 10px;
}

.modalLogin{
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 200;
    background-color: rgba(0,0,0,.6);
    display: none;
}
.modalLogin.mostrar{
    display: flex;
}
.mostrar .lFormulario{
    animation: animModal 1s;
}
@keyframes animModal {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.lFormulario{
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(34, 34, 34);
    height: 470px;
    width: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    padding: 10px;
}
.lHeader{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.lCampo{
    display: flex;
    flex-direction: column;

}
.lCampo input{
    height: 60px;
    width: 280px;
    background-color: rgb(21, 21, 21);
    border-radius: 5px;
    outline: 0;
    box-shadow: 0,0,0,0;
    border: none;
    padding: 10px;
    font-size: 20px;
    color: white;
}
.lFormulario button{
    background-color: #0053af;
    color: white;
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 7px;
    font-size: 20px;
    margin-top: 20px;
}
.lFormulario .lFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}
.lCampo label{
    color: white;
    font-size: 18px;
    margin: 7px 0;
}
.lFooter a{
    text-decoration: none;
    color: white;
    cursor: pointer;
    margin: 27px;
}
